{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "chrome": "88",
        "firefox": "78",
        "edge": "88",
        "safari": "14"
      }
    }],
    ["@babel/preset-react", {
      "runtime": "automatic"
    }]
  ],
  "plugins": []
}